<ion-header [translucent]="true"> </ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      src="../../../assets/img/apartamento.jpg"
      alt="Imagen del apartamento"
      width="100%"
    />
    <ion-card-header>
      <ion-card-title>Apartamento en Orlando</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div style="display: flex; align-items: center">
        <ion-icon
          name="star"
          style="margin-right: 5px"
          class="ion-color-warning"
        ></ion-icon>
        <p style="margin: 0">4.8 (95 calificaciones)</p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Descripcion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Bienvenido a este hermoso departamento en Orlando, Florida. Ubicado en
        el corazón de una de las ciudades más vibrantes y emocionantes del
        mundo, este departamento ofrece una experiencia inolvidable para tus
        vacaciones familiares o escapadas románticas.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Que ofrece el lugar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul class="list-unstyled">
        <li>Wi-Fi</li>
        <li>Cocina</li>
        <li>Lavadora</li>
        <li>Estacionamiento</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reseñas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img
              src="../../../assets/img/avatar.png"
              alt="Avatar del usuario"
            />
          </ion-avatar>
          <ion-label>
            <h2>Nombre del Usuario</h2>
            <p>Comentario del usuario.</p>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star-half"></ion-icon>
            <ion-icon name="star-outline"></ion-icon>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>